@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";
@import "/bower_components/bootstrap/less/theme.less";
@import "/bower_components/font-awesome/less/font-awesome.less";

html, body {
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#nav-region {
  .noselect();
  .navbar {
    li span.glyphicon {
      font-size: 24px;
      font-weight: bold;
    }
    p {
      color: #fff;
      margin: 18px;
      text-shadow: 0 0 5px #000;

      span {
        margin-left: 20px;
      }
    }
  }
}

#main-region {
  .noselect();
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-radial-gradient(center, #0a0, #050);
  background: -o-radial-gradient(center, #0a0, #050);
  background: -moz-radial-gradient(center, #0a0, #050);
  background: radial-gradient(center, #0a0, #050);
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #deck {
    margin: 100px;

    .card, .gap {
      float: left;
      height: 97px;
      width: 72px;
      margin: 5px;
      overflow: hidden;

      &.highlight {
        border-radius: 4px;
        background: rgba(0,0,0,0.2);
      }
    }
    .card {
      cursor: pointer;

      &.placed {
        .opacity(0.5);
      }
    }
  }
}