@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";
@import "/bower_components/bootstrap/less/theme.less";
@import "/bower_components/font-awesome/less/font-awesome.less";

html, body {
  height: 100%;
}

#nav-region {
  .navbar {
    li span.glyphicon {
      font-size: 24px;
      font-weight: bold;
    }
    p.navbar-right {
      color: #fff;
      margin: 18px;

      span {
        margin-left: 20px;
      }
    }
  }
}

#main-region {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-radial-gradient(center, #0a0, #050);
  background: -o-radial-gradient(center, #0a0, #050);
  background: -moz-radial-gradient(center, #0a0, #050);
  background: radial-gradient(center, #0a0, #050);

  #cards {
    margin: 100px;

    .card {
      float: left;
      margin: 5px;
      cursor: pointer;
    }
  }
}