<p>
    Inga fler drag kan göras, korten blandas om...
</p>
<p>
    <strong>Omgång:</strong><span>{{round}}/{{rounds}}</span><br />
    <strong>Poäng:</strong><span>{{score}}</span><br />
    <strong>Antal drag:</strong><span>{{moves}}</span>
</p>