<nav class="navbar navbar-inverse navbar-static-top">
    <ul id="nav-list" class="nav navbar-nav"></ul>
    <p id="nav-score" class="navbar-right navbar-text"></p>
    <p class="text-center hidden-xs hidden-sm" id="nav-highscore"></p>
</nav>