<nav class="navbar navbar-inverse navbar-static-top">
    <ul id="nav-list" class="nav navbar-nav"></ul>
    <p class="navbar-right navbar-text">
        <span>Omgång: {{round}}/{{rounds}}</span>
        <span>Poäng: {{score}}</span>
        <span>Drag: {{moves}}</span>
    </p>
</nav>