<nav class="navbar navbar-inverse navbar-static-top">
    <ul id="nav-list" class="nav navbar-nav"></ul>
    <p class="navbar-right navbar-text">
        <span>Omgång: 0/5</span>
        <span>Poäng: 253</span>
        <span>Drag: 54</span>
    </p>
</nav>