<p>
    Du har lagt samtliga kort på rätt plats och slutfört Lantisen!
</p>
<p>
    <strong>Omgång:</strong> <span>{{round}}</span><br />
    <strong>Poäng:</strong> <span>{{score}}</span><br />
    <strong>Antal drag:</strong> <span>{{moves}}</span>
</p>